body {
    font-family: "Source Sans 3", "Roboto", sans-serif;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Header */

header,
.title-and-logo {
    align-items: center;
    display: flex;
}

header {
    padding: 1em;
}

.page-title {
    font-family: "Roboto", "Source Sans 3", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 0.25em;
    margin: 0;
}

.fa-lines-leaning {
    font-size: 1rem;
}

nav {
    display: flex;
    margin-left: auto;
}

.nav-link {
    color: black;
    font-size: 0.75rem;
    margin: 0;
    padding: 0 0.25em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: pointer;
}

.nav-link:focus {
    outline: 2px solid #202020;
}

/* Featured Post */

.featured-post {
    background-image: url(../images/feature-img.png);
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: end;
    padding: 1.25em;
    text-decoration: none;
}

.featured-post:hover {
    cursor: pointer;
    opacity: 0.9;
}

.date,
.featured-title,
.featured-text {
    margin: 0;
}

.date {
    font-size: 0.75rem;
}

.featured-title {
    font-size: 2rem;
}

.featured-text {
    font-size: 1rem;
}

/* Blog List */

.blog-list {
    display: grid;
    gap: 3em 0;
    grid-template-areas: 
    ". . ."
    ". w ."
    ". m ."
    ". a ."
    ". c ."
    ". j ."
    ". r ."
    ". . .";
    grid-template-columns: minmax(1em, auto) 1fr minmax(1em, auto);
}

.blog {
    color: black;
    text-decoration: none;
}

.blog:hover {
    cursor: pointer;
}

.blog-img {
    border-radius: 3px;
    height: 232px;
    width: 100%;
}

.blog-img:hover {
    opacity: 0.9;
}

.blog-date {
    font-size: 0.875rem;
    margin: 0;
    margin-bottom: 0.25em;
}

.blog-title,
.blog-text {
    margin: 0;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.blog-text {
    font-size: 1rem;
}

/* Footer */

footer {
    background-color: #202020;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 105px;
    justify-content: center;
    text-align: center;
}

.footer-title,
.copyright {
    margin: 0;
}

.footer-title {
    font-size: 0.75rem;
    font-weight: bold;
}

.copyright {
    font-size: 0.75rem;
}

/* View More */

.view-more {
    border-bottom: 1px solid #202020;
    margin: -10em 1em 2em;
    padding: 1em;
    text-align: center;
}

.view-more-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

/* Utility Classes */

.text-multi-line { 
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
    overflow: hidden;
}

.accessible-development {
    grid-area: a;
}

.essential-css-concepts {
    grid-area: c;
}

.essential-javascript-concepts {
    grid-area: j;
}

.making-websites-interactive {
    grid-area: m;
}

.responsive-design {
    grid-area: r;
}

.web-dev-basics {
    grid-area: w;
}

.hidden {
    display: none;
}

/* Media Queries */

@media (min-width: 768px) {
    .page-title {
        font-size: 1.25rem;
    }

    .fa-lines-leaning {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1rem;
        padding: 0 0.5em;
    }

    .featured-post {
        background-image: url(../images/feature-img-wide.png);
        height: 490px;
        padding: 3.375rem;
    }

    .date {
        font-size: 1rem;
    }

    .featured-title {
        font-size: 2.5rem;
        width: 60%;
    }

    .featured-text {
        width: 60%;
    }

    .text-multi-line {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        line-clamp: 5;
    overflow: hidden;
    }

    .blog-list {
        gap: 3em 2em;
        grid-template-areas: 
        ". . . . ."
        ". w m a ."
        ". c j r ."
        ". . . . .";
        grid-template-columns: 1em repeat(3, 1fr) 1em;
    }

    .view-more {
        display: none;
    }

    .essential-css-concepts {
        display: block;
    }

    .essential-javascript-concepts {
        display: block;
    }

    .responsive-design {
        display: block;
    }
}

@media (min-width: 1024px) {
    .blog-list {
        gap: 3em 5%;
    }
}
