body {
    font-family: "Source Sans 3", "Roboto", sans-serif;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Header */

header {
    align-items: center;
    display: flex;
    padding: 1em;
}

.title-and-logo {
    align-items: center;
    display: flex;
}

.page-title {
    font-family: "Roboto", "Source Sans 3", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    padding-left: 0.25em;
    margin: 0;
}

.fa-lines-leaning {
    font-size: 1rem;
}

nav {
    display: flex;
    margin-left: auto;
}

.nav-link {
    color: black;
    font-size: 0.75rem;
    margin: 0;
    padding: 0 0.25em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: pointer;
}

/* Intro */

.intro {
    align-items: start;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.date {
    font-size: 1rem;
    margin: 0;
}


.intro-header {
    font-size: 1.5rem;
}

.intro-para {
    font-size: 1rem;
    padding: 0 1em 1em 1em;
    margin: 0;
    text-align: justify;
}

.intro-img {
    margin: 0 auto;
    width: 90%;
}

/* Content */

.content {
    padding: 0 1em;
}

.content-title {
    font-size: 1.25rem;
    letter-spacing: 0.015em;
    margin: 0;
}

.content-para {
    line-height: 1.5;
    padding: 0 1em;
    text-align: justify;
}

.content-link {
    color: #202020;
    font-weight: bold;
    text-decoration: none;
}

.content-link:hover,
.content-link:focus {
    font-size: 1.25rem;
}

/* Blog List */

.recent-posts {
    display: grid;
    gap: 3em 0;
    grid-template-areas: 
    ". . ."
    ". r ."
    ". j ."
    ". c ."
    ". . .";
    grid-template-columns: minmax(1em, auto) 1fr minmax(1em, auto);
}

.blog {
    color: black;
    text-decoration: none;
}

.blog:hover {
    cursor: pointer;
}

.blog-img {
    border-radius: 3px;
    height: 232px;
    width: 100%;
}

.blog-img:hover {
    opacity: 0.9;
}

.blog-date {
    font-size: 0.875rem;
    margin: 0;
    margin-bottom: 0.25em;
}

.blog-title,
.blog-text {
    margin: 0;
}

.blog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.blog-text {
    font-size: 1rem;
}

/* Footer */

footer {
    background-color: #202020;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    height: 105px;
    justify-content: center;
    text-align: center;
}

.footer-title,
.copyright {
    margin: 0;
}

.footer-title {
    font-size: 0.75rem;
    font-weight: bold;
}

.copyright {
    font-size: 0.75rem;
}

/* Utility Classes */

.text-multi-line { 
    display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
    overflow: hidden;
}

.essential-css-concepts {
    grid-area: c;
}

.essential-javascript-concepts {
    grid-area: j;
}

.responsive-design {
    grid-area: r;
}

/* Media Queries */

@media (min-width: 768px) {
    .page-title {
        font-size: 1.25rem;
    }

    .fa-lines-leaning {
        font-size: 1.5rem;
    }

    .nav-link {
        font-size: 1rem;
        padding: 0 0.5em;
    }

    .intro {
        padding-left: 3em;
    }

    .intro-header {
        font-size: 3rem;
        margin: 0;
    }

    .intro-para {
        font-size: 1.125rem;
        margin-left: 1em;
        margin-right: 5em;
        padding: 0;
    }

    .intro-img {
        padding-top: 1em;
    }

    .content {
        margin-left: 2em;
        margin-top: 1em;
    }

    .content-title {
        font-size: 2rem;
    }

    .content-para {
        padding-left: 3em;
        margin-right: 3em;
    }

    ul {
        padding-left: 7em;
    }

    .recent-posts {
        gap: 3em 2em;
        grid-template-areas: 
        ". . . . ."
        ". r j c ."
        ". . . . .";
        grid-template-columns: 1em repeat(3, 1fr) 1em;
    }
}

@media (min-width: 1024px) {
    .recent-posts {
        gap: 3em 5%;
    }
}
